h1 {
  text-align: center;
  color: black;
  }

h2 {
  text-align: center;
  color: black;
  text-align: center;
  }

h3 {
  text-align: center;
  color: black;
  text-align: center;
  }

img {
  width: 150px;
  height: 150px;
  float: center;
}


p {
 text-align: center; 
 font-weight: bold;
}

li {
  text-align: left; 
  font-size: 20px;
  color: white;
}

foot {
 min-height: 100vh;
 position: relative;
 width: 100%;
}

footer {
  width: 100%;
  height: 75px;
  bottom: 10px;
  border-top: 1px solid gray;
  padding-top: 15px;
  color: gray;
  font-size: 15px;
}
