h1 {
  text-align: center;
  color: black;
  }

img {
  width: 150px;
  height: 150px;
  float: center;
}

p {
 text-align: center; 
}

li {
  text-align: left; 
  font-size: 20px;
  color: white;
}

foot {
 min-height: 100vh;
 position: relative;
 width: 100%;
}

footer {
  width: 100%;
  height: 75px;
  bottom: 10px;
  position: absolute;
  border-top: 1px solid gray;
  padding-top: 15px;
  color: gray;
  font-size: 15px;
}
